:root {
  --primary-violet: hsl(263, 55%, 52%);
  --primary-grayish-blue: hsl(217, 19%, 35%);
  --primary-blackish-blue: hsl(219, 29%, 14%);
  --primary-white: hsl(0, 0%, 100%);
  --neutral-gray: hsl(0, 0%, 81%);
  --neutral-grayish-blue: hsl(210, 46%, 95%);

  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-size-small: 0.6875rem;
  --font-size-medium: 0.8125rem;
  --font-size-large: 1.25rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size-medium);
  padding: 4.4375rem 1.5rem;
  background: var(--neutral-grayish-blue);
}

.container {
  display: grid;
  gap: 24px;
  margin-block-end: 40px;
}

.card {
  padding: 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);
}

 .small-container {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-block-end: 18px;
}

.card__img {
  width: 28px;
  border-radius: 50%;
}

.name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 13px;
}

.name + p {
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 11px;
  opacity: 0.5;
}

.card__title {
  font-size: var(--font-size-large);
  font-weight: 600;
  margin-block-end: 16px;
}

.card__paragraph {
  font-size: var(--font-size-medium);
  font-weight: 500;
  line-height: 1.125rem;
  opacity: 0.7;
}

.card-1 {
  background: var(--primary-violet) url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 24px;
}

.card-1 .card__img, 
.card-4 .card__img {
  border: 2px solid #A775F1;
}

.card-1, .card-2, .card-4 {
  color: var(--primary-white);
}

.card-2 {
  background: var(--primary-grayish-blue);
}

.card-3,
.card-5 {
  background: var(--primary-white);
  color: var(--primary-grayish-blue);
}

.card-4 {
  background: var(--primary-blackish-blue);
}

.attribution {
  font-size: 0.875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
